body {
	margin:0;
	font-family:Arial;
	font-size:12px;
}
.topo {
	height:30px;
	background-color:#33292c;
}
.topint {
	width:100%;
	max-width:1040px;
	margin:auto;
	font-size:16px;
}
.topoleft {
	float:right;
}
.acesso {
	font-size:18px;
	margin-right:42px;
	line-height:30px;
	
	color:#FFF;
}

.toporight {
	float:left;
	width:70px;
	margin-top:2px;
	height:26px;
	margin-left:8px;

}
.toporight ul {
	float:left;
	margin:auto;
	line-height:30px;
	padding-right:4px;
	margin-left:-34px;
}
.toporight a {
	float:left;
}
.toporight ul img {
	
	padding-right:5px;
} /* Aqui seria o top de cima onde terá rede social e login */
.toporight-rede ul a:hover {
	background-color:#534347;
}
  

.logo {
	background-color:#271f21;
	height:50px;
	width:100%;
	position:fixed;
	display:flex;
}
.logoint {
	width:100%;
	height:120px;
	
	
}
.logotot {
	float:left;
	text-align:left;
	height:50px;
	font-size:24px;
	line-height:50px;
	margin-left:15px;
	color:#FFF;
	font-family:Time New Roma;
	
	
}
.Arrazo {
	display:flex;
	text-align:center;
}
.logotot a {
	list-style:none;
	text-decoration:none;
	color: inherit;
}
.redetot {
	display:flex;
	float:right;
	margin-top:14px;
	margin-right:14px;
	width:180px;
	height:23px; 
	flex-direction:column;

}
.redetot input ul {
	display:flex;
	flex-direction:column;
} 
.busca input {
	flex-direction:column;
	width:150px;
	height:23px;
	

}
.enviarpesquisa input {
	flex-direction:column;
	float:right;
	margin-right:4px;
	margin-top:-22px;

}
.search {
	margin-left:70px;
}

.menuint {
	width:800px;
	color:#afa382;
	height:50px;
	display:flex;
	float:right;
	margin-left:250px;
	margin-top:-50px;
	
	
}
.logotot ul {
	list-style:none;
	display:flex;

	font-size:18px;

}
.logo ul li {

	text-align:center;
	padding-left:10px;
	padding-right:10px;
	margin-top:-16px;
	
}



